{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<form method="POST">
    <div class="form-group row" id=formAdd>
        <label class="col-2 col-form-label" for="questionForm">Question</label>
        <div class="col-10">
            <div class="input-group">
                <input id="questionForm" name="questionForm" placeholder="Write the question here..." type="text" aria-describedby="questionFormHelpBlock" required="required" class="form-control">
            </div>
            <span id="questionFormHelpBlock" class="form-text text-muted">For exemple : Translate this sentence "J'adore madame Slezak"</span>
        </div>
        <label for="type" class="col-2 col-form-label">Type</label>
        <div class="col-10">
            <select id="type" name="type" aria-describedby="typeHelpBlock" required="required" class="custom-select">
          <option value="grammar">Grammar</option>
          <option value="mcq">MCQ</option>
          <option value="spelling">Spelling</option>
          <option value="translation">Translation</option>
          <option value="QA">QA</option>
        </select>
            <span id="typeHelpBlock" class="form-text text-muted"><br>Choose the type, QA stands for question without any particular type</span>
        </div>
        <label for="answer1" class="col-2 col-form-label">Answer 1</label>
        <div class="col-10">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">1.</div>
                </div>
                <input id="answer1" name="answer1" type="text" required="required" class="form-control">
            </div>
        </div>
        <label for="answer2" class="col-2 col-form-label">Answer 2</label>
        <div class="col-10">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">2.</div>
                </div>
                <input id="answer2" name="answer2" type="text" class="form-control">
            </div>
        </div>
        <label for="answer3" class="col-2 col-form-label">Answer 3</label>
        <div class="col-10">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">3.</div>
                </div>
                <input id="answer3" name="answer3" type="text" class="form-control">
            </div>
        </div>
        <label for="answer4" class="col-2 col-form-label">Answer 4</label>
        <div class="col-10">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">4.</div>
                </div>
                <input id="answer4" name="answer4" type="text" aria-describedby="answer4HelpBlock" class="form-control">
            </div>
            <span id="answer4HelpBlock" class="form-text text-muted">For the MCQ there should be 4 answers with only one right. For the other types of question, you can enter multiple possible answer, or just one.</span>
        </div>
        <div class="offset-1 col-10" align=center>
            <button name="submit" type="submit" class="btn btn-outline-light">Submit</button>
        </div>
    </div>
</form>
{% endblock %}