<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href='staticFiles/css/main.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar sticky-top shadow-lg navbar-expand-lg navbar-dark shadow-5-strong" id="nav">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Navbar brand -->
            <a class="navbar-brand" href="#">Gramarun</a>

            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <i class="fa fa-bars" style="color:white"></i>
        </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/game">Game</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/leaderboard">Scoreboard</a>
                    </li>
                    {% if current_user.sudo == 1 %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/add">Add</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/delete">Delete</a>
                    </li>
                    {% endif %} {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/leaderboard">Scoreboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sign-up">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Connexion</a>
                    </li>
                    {% endif %}
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->

    {% with messages = get_flashed_messages(with_categories=True) %} {% if messages %} {% for category, message in messages %} {% if category == "error" %}
    <div class="alert alert-danger alter-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>

    {% endif %} {% endfor %} {% endif %} {% endwith %}
    <div class="container">{% block content %}{% endblock %}</div>

    <footer id="footerButton">
        <button onclick="document.getElementById('popupMention').style.display = 'block';document.getElementById('popupPolitique').style.display = 'none'">Mention légales</button> | <button onclick="document.getElementById('popupPolitique').style.display = 'block';document.getElementById('popupMention').style.display = 'none'">Politique de confidentialité</button>
        <div id="popupMention" style="display: none;">
            <button onclick="document.getElementById('popupMention').style.display = 'none'">X</button><br><br>
            <h2>Mentions Légales</h2><br> <br>
            <p>Editeur du site : Gramarun, dont le siège social est situé au 413 Av. Gaston Berger, 13100 Aix-en-Provence.<br>Directeur de la publication : L'équipe Gramarun.<br>Hébergeur du site : Alwaysdata - alwaysdata.com.<br> <br>Conditions d'utilisation
                du site et des services proposés : l'utilisation du site Gramarun implique l'acceptation pleine et entière des conditions générales d'utilisation ci-après décrites. Ces conditions d'utilisation sont susceptibles d'être modifiées ou complétées
                à tout moment, les utilisateurs du site sont donc invités à les consulter de manière régulière.<br> <br>Limitations de responsabilité : Gramarun ne pourra être tenue responsable des dommages directs et indirects causés au matériel de l'utilisateur,
                lors de l'accès au site Gramarun, et résultant soit de l'utilisation d'un matériel ne répondant pas aux spécifications, soit de l'apparition d'un bug ou d'une incompatibilité.<br> <br> Gestion des données personnelles : conformément à
                la loi 78-17 du 6 janvier 1978 (modifiée par la loi 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l'égard des traitements de données à caractère personnel) relative à l'informatique, aux fichiers et aux libertés.<br>                <br>Les utilisateurs du site Gramarun disposent d'un droit d'accès, de modification, de rectification et de suppression des données qui les concernent, conformément à la loi 78-17 du 6 janvier 1978 (modifiée par la loi 2004-801 du 6 août
                2004 relative à la protection des personnes physiques à l'égard des traitements de données à caractère personnel). Pour exercer ce droit, adressez-vous à andy.gonzales@etu.univ-amu.fr Propriété intellectuelle : tous les éléments du site
                Gramarun sont protégés par le droit d'auteur, en vertu des articles L.111-1 et suivants du Code de la propriété intellectuelle. A ce titre, toute reproduction, représentation, utilisation ou adaptation, sous quelque forme que ce soit,
                de tout ou partie de ces éléments, sans l'accord préalable et écrit de Gramarun, sont strictement interdites. Toute utilisation non autorisée de tout ou partie du site Gramarun sera considérée comme constitutive d'une contrefaçon et poursuivie
                conformément aux dispositions des articles L.335-2 et suivants du Code de la propriété intellectuelle.<br> <br>Liens hypertextes : le site Gramarun peut contenir des liens hypertextes vers d'autres sites présents sur le réseau Internet.
                Les liens vers ces autres ressources vous font quitter le site Gramarun. Il est possible de créer un lien vers la page de présentation de ce site sans autorisation expresse de Gramarun. Cependant, Gramarun se réserve le droit de demander
                la suppression d'un lien qu'elle estime non conforme à l'objet du site Gramarun.<br> <br>

            </p>
        </div>
        <div id="popupPolitique" style="display: none;">
            <button onclick="document.getElementById('popupPolitique').style.display = 'none'">X</button><br><br>
            <h1>POLITIQUE DE CONFIDENTIALITÉ</h1><br>
            <br>
            <br>
            <p>gramarun.alwaysdata.net/
                <br> Gramarun
                <br>
                <br> Type de site : Site jeu vidéo<br>
                <br> Le but de cette politique de confidentialité<br>
                <br> Le but de cette politique de confidentialité est d'informer les utilisateurs de notre site des données personnelles que nous recueillerons ainsi que les informations suivantes, le cas échéant :<br>
                <br> Les données personnelles que nous recueillerons<br> L’utilisation des données recueillies<br> Qui a accès aux données recueillies<br> Les droits des utilisateurs du site<br> La politique de cookies du site<br>
                <br> Cette politique de confidentialité fonctionne parallèlement aux conditions générales d’utilisation de notre site.<br>
                <br> Lois applicables<br>
                <br> Conformément au Règlement général sur la protection des données (RGPD), cette politique de confidentialité est conforme aux règlements suivants.<br>
                <br> Les données à caractère personnel doivent être :<br>
                <br> traitées de manière licite, loyale et transparente au regard de la personne concernée (licéité, loyauté, transparence) ;<br> collectées pour des finalités déterminées, explicites et légitimes, et ne pas être traitées ultérieurement
                d'une manière incompatible avec ces finalités; le traitement ultérieur à des fins archivistiques dans l'intérêt public, à des fins de recherche scientifique ou historique ou à des fins statistiques n'est pas considéré, conformément à l'article
                89, paragraphe 1, comme incompatible avec les finalités initiales (limitation des finalités) ;<br> adéquates, pertinentes et limitées à ce qui est nécessaire au regard des finalités pour lesquelles elles sont traitées (minimisation des
                données) ;
                <br> exactes et, si nécessaire, tenues à jour; toutes les mesures raisonnables doivent être prises pour que les données à caractère personnel qui sont inexactes, eu égard aux finalités pour lesquelles elles sont traitées, soient effacées
                ou rectifiées sans tarder (exactitude) ;<br> conservées sous une forme permettant l'identification des personnes concernées pendant une durée n'excédant pas celle nécessaire au regard des finalités pour lesquelles elles sont traitées;
                les données à caractère personnel peuvent être conservées pour des durées plus longues dans la mesure où elles seront traitées exclusivement à des fins archivistiques dans l'intérêt public, à des fins de recherche scientifique ou historique
                ou à des fins statistiques conformément à l'article 89, paragraphe 1, pour autant que soient mises en œuvre les mesures techniques et organisationnelles appropriées requises par le règlement afin de garantir les droits et libertés de la
                personne concernée (limitation de la conservation) ;<br> traitées de façon à garantir une sécurité appropriée des données à caractère personnel, y compris la protection contre le traitement non autorisé ou illicite et contre la perte,
                la destruction ou les dégâts d'origine accidentelle, à l'aide de mesures techniques ou organisationnelles appropriées (intégrité et confidentialité).<br>
                <br> Le traitement n'est licite que si, et dans la mesure où, au moins une des conditions suivantes est remplie :<br>
                <br> la personne concernée a consenti au traitement de ses données à caractère personnel pour une ou plusieurs finalités spécifiques ;<br> le traitement est nécessaire à l'exécution d'un contrat auquel la personne concernée est partie
                ou à l'exécution de mesures précontractuelles prises à la demande de celle-ci ;<br> le traitement est nécessaire au respect d'une obligation légale à laquelle le responsable du traitement est soumis ;<br> le traitement est nécessaire à
                la sauvegarde des intérêts vitaux de la personne concernée ou d'une autre personne physique ;<br> le traitement est nécessaire à l'exécution d'une mission d'intérêt public ou relevant de l'exercice de l'autorité publique dont est investi
                le responsable du traitement ;<br> le traitement est nécessaire aux fins des intérêts légitimes poursuivis par le responsable du traitement ou par un tiers, à moins que ne prévalent les intérêts ou les libertés et droits fondamentaux de
                la personne concernée qui exigent une protection des données à caractère personnel, notamment lorsque la personne concernée est un enfant.<br>
                <br> Pour les résidents de l’État de Californie, cette politique de confidentialité vise à se conformer à la California Consumer Privacy Act (CCPA). S’il y a des incohérences entre ce document et la CCPA, la législation de l’État s’appliquera.
                Si nous constatons des incohérences, nous modifierons notre politique pour nous conformer à la loi pertinente.<br>
                <br> Consentement
                <br>
                <br> Les utilisateurs conviennent qu’en utilisant notre site, ils consentent à :<br>
                <br> les conditions énoncées dans la présente politique de confidentialité et<br> la collecte, l’utilisation et la conservation des données énumérées dans la présente politique.<br>
                <br> Données personnelles que nous collectons<br>
                <br> Données collectées automatiquement<br>
                <br> Nous ne collectons aucune donnée automatiquement sur notre site.<br>
                <br> Données recueillies de façon non automatique<br>
                <br> Nous pouvons également collecter les données suivantes lorsque vous effectuez certaines fonctions sur notre site :<br>
                <br> Email
                <br> Données de remplissage automatique<br>
                <br> Ces données peuvent être recueillies au moyen des méthodes suivantes :<br>
                <br> Enregistrement d'un compte<br>
                <br> Veuillez noter que nous ne collectons que les données qui nous aident à atteindre l’objectif énoncé dans cette politique de confidentialité. Nous ne recueillerons pas de données supplémentaires sans vous en informer au préalable.<br>
                <br> Comment nous utilisons les données personnelles<br>
                <br> Les données personnelles recueillies sur notre site seront utilisées uniquement aux fins précisées dans la présente politique ou indiquées sur les pages pertinentes de notre site. Nous n’utiliserons pas vos données au-delà de ce que
                nous divulguerons.
                <br>
                <br> Les données que nous recueillons lorsque l’utilisateur exécute certaines fonctions peuvent être utilisées aux fins suivantes :<br>
                <br> Connexion
                <br>
                <br> Avec qui nous partageons les données personnelles<br>
                <br> Employés
                <br> Nous pouvons divulguer à tout membre de notre organisation les données utilisateur dont il a raisonnablement besoin pour réaliser les objectifs énoncés dans la présente politique.<br>
                <br> Tierces parties<br> Nous pouvons partager les données utilisateur avec les tiers suivants :<br>
                <br> Nous pouvons partager les données utilisateur avec des tiers aux fins suivantes :<br>
                <br> Les tiers ne seront pas en mesure d’accéder aux données des utilisateurs au-delà de ce qui est raisonnablement nécessaire pour atteindre l’objectif donné.<br>
                <br> Autres divulgations<br> Nous nous engageons à ne pas vendre ou partager vos données avec des tiers, sauf dans les cas suivants :<br>
                <br> si la loi l'exige<br> si elle est requise pour toute procédure judiciaire<br> pour prouver ou protéger nos droits légaux<br> à des acheteurs ou des acheteurs potentiels de cette société dans le cas où nous cherchons à la vendre la
                société
                <br>
                <br> Si vous suivez des hyperliens de notre site vers un autre site, veuillez noter que nous ne sommes pas responsables et n’avons pas de contrôle sur leurs politiques et pratiques de confidentialité.<br>
                <br> Combien de temps nous stockons les données personnelles<br>
                <br> Nous ne conservons pas les données des utilisateurs au-delà de ce qui est nécessaire pour atteindre les fins pour lesquelles elles sont recueillies.<br>
                <br> Comment nous protégeons vos données personnelles<br>
                <br> Afin d’assurer la protection de votre sécurité, nous chiffrons chacune de vos données avant l'insertion dans notre base de données sécurisées.<br>
                <br> Alors que nous prenons toutes les précautions raisonnables pour nous assurer que nos données d’utilisateur sont sécurisées et que les utilisateurs sont protégés, il reste toujours du risque de préjudice. L’Internet en sa totalité
                peut être, parfois, peu sûr et donc nous sommes incapables de garantir la sécurité des données des utilisateurs au-delà de ce qui est raisonnablement pratique.<br>
                <br> Mineurs
                <br>
                <br> Le RGPD précise que les personnes de moins de 15 ans sont considérées comme des mineurs aux fins de la collecte de données. Les mineurs doivent avoir le consentement d’un représentant légal pour que leurs données soient recueillies,
                traitées et utilisées.<br>
                <br> Vos droits en tant qu’utilisateur<br>
                <br> En vertu du RGPD, les utilisateurs ont les droits suivants en tant que personnes concernées :<br>
                <br> droit d’accès<br> droit de rectification<br> droit à l’effacement<br> droit de restreindre le traitement<br> droit à la portabilité des données<br> droit d'objection<br>
                <br> Vous trouverez de plus amples informations sur ces droits au chapitre 3 (art 12-23) du RGPD.<br>
                <br> Comment modifier, supprimer ou contester les données recueillies<br>
                <br> Si vous souhaitez que vos renseignements soient supprimés ou modifiés d’une façon ou d’une autre, veuillez communiquer avec notre agent de protection de la vie privée ici :<br>
                <br> Jean Christophe<br> Rue du Combat, 83300, Draguignan<br> jean.chris-chris@gamil.com
                <br> 06 47 66 95 49<br>
                <br> Modifications
                <br>
                <br> Cette politique de confidentialité peut être modifiée à l’occasion afin de maintenir la conformité avec la loi et de tenir compte de tout changement à notre processus de collecte de données. Nous recommandons à nos utilisateurs de
                vérifier notre politique de temps à autre pour s’assurer qu’ils soient informés de toute mise à jour. Au besoin, nous pouvons informer les utilisateurs par courriel des changements apportés à cette politique.<br>
                <br> Contact
                <br>
                <br> Si vous avez des questions à nous poser, n’hésitez pas à communiquer avec nous en utilisant ce qui suit :<br> 09 47 20 57 57<br> support@gramarun.com
                <br> 69 rue de la Paix, 75002, Paris<br>
                <br>
                <br> Date d’entrée en vigueur : le 16 janvier 2023
            </p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="staticFiles/script/playButton.js"></script>
</body>

</html>