{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<script src="staticFiles/game/lib/phaser.min.js"></script>
<script src="staticFiles/game/src/prefabriquer/Prefab_entite.js"></script>
<script src="staticFiles/game/src/components/UserComponent.js"></script>
<script src="staticFiles/game/src/components/PushOnClick.js"></script>
<script src="staticFiles/game/src/components/PreloadText.js"></script>
<script src="staticFiles/game/src/scenes/Preload.js"></script>
<script src="staticFiles/game/src/components/MouvementEntite.js"></script>
<script src="staticFiles/game/src/components/ChoixPerso.js"></script>
<script src="staticFiles/game/src/scenes/PointDeVie.js"></script>
<script src="staticFiles/game/src/scenes/Menu.js"></script>
<script src="staticFiles/game/src/scenes/Level.js"></script>
<script src="staticFiles/game/src/scenes/Question.js"></script>
<script src="staticFiles/game/src/scenes/Option.js"></script>
<script src="staticFiles/game/src/scenes/GameOver.js"></script>
<script src="staticFiles/game/src/main.js"></script>
<div id="moncaca" data-tableau='{{question}}'></div>
{% endblock %}