{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}


<div class="flex-container">
    <div class="intro">
        <h1>Présentation</h1> <br>
        <p><br><br>Ce site internet a été créé suite à la SAE 3<br> Cet SAE consistait a créer un "Serious game" pour différentes matières<br> Ici la matière représenté est l'Anglais, ce jeu permettra donc à la fois de réviser vos cours pour vos prochains
            partiels
            <br> Mais aussi d'améliorer votre angalis général<br> Un tableau des scores est disponible afin de vous permettre de compétiter avec les autres.
        </p>
    </div>
    <div class="carousel">
        <div class="carousel-container">

            <div class="mySlides fade">
                <img src="staticFiles/carousel1.png" style="width:150%">
            </div>

            <div class="mySlides fade">
                <img src="staticFiles/carousel2.png" style="width:150%">
            </div>

            <div class="mySlides fade">
                <img src="staticFiles/carousel3.png" style="width:150%">
            </div>

            <div class="mySlides fade">
                <img src="staticFiles/carousel4.png" style="width:150%">
            </div>

            <div class="mySlides fade">
                <img src="staticFiles/carousel5.png" style="width:150%">
            </div>

        </div>
        <br>
        <div class="tousPoints" style="text-align:center">
            <span class="point"></span>
            <span class="point"></span>
            <span class="point"></span>
            <span class="point"></span>
            <span class="point"></span>
        </div>
    </div>
</div>

<script>
    let slideIndex = 0;
    showSlides();

    function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("point");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
            slideIndex = 1
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace("activeDot", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " activeDot";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
    }
</script>
{% endblock %}